torch==2.1.1
torchvision==0.16.1
lightning==2.1.2
transformers==4.35.2
diffusers==0.24.0
torch_pruning
tqdm
argparse
pre-commit
toml
scipy
ftfy
regex
wandb
pynvml
accelerate
clip @ git+https://github.com/openai/CLIP.git
scikit-image
datasets
bitsandbytes
